name: testing calcc

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test_cases:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: install dependencies
        run: |
          pip install -r requirements.txt

      - name: run test cases
        run: |
          python3 -m unittest test_calculator.py

  deploy:
    needs: test_cases
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
git add .
